flows (2).json
[{"id":"99a80bbd.ec6eb8","type":"tab","label":"Auto_Ai_Flow","disabled":false,"info":""},{"id":"127b957e.860c5b","type":"ui_text","z":"99a80bbd.ec6eb8","group":"ea9956dc.f95f38","order":2,"width":0,"height":0,"name":"","label":"life expectancy","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":120,"wires":[]},{"id":"9228244e.a99e78","type":"function","z":"99a80bbd.ec6eb8","name":"PreToken","func":"global.set(\"a\",msg.payload.a)\nglobal.set(\"b\",msg.payload.b)\nglobal.set(\"c\",msg.payload.c)\nglobal.set(\"d\",msg.payload.d)\nglobal.set(\"e\",msg.payload.e)\nglobal.set(\"f\",msg.payload.f)\nglobal.set(\"g\",msg.payload.g)\nglobal.set(\"h\",msg.payload.h)\nglobal.set(\"i\",msg.payload.i)\nglobal.set(\"j\",msg.payload.j)\nglobal.set(\"k\",msg.payload.k)\nglobal.set(\"l\",msg.payload.l)\nglobal.set(\"m\",msg.payload.m)\nglobal.set(\"n\",msg.payload.n)\nglobal.set(\"o\",msg.payload.o)\nglobal.set(\"p\",msg.payload.p)\nglobal.set(\"q\",msg.payload.q)\nglobal.set(\"r\",msg.payload.r)\nglobal.set(\"s\",msg.payload.s)\nglobal.set(\"t\",msg.payload.t)\nglobal.set(\"u\",msg.payload.u)\nvar apikey=\"G79LnyxljchMhowaQmjQfd6FoDXg7BUl2PO174cd6FSQ\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":320,"wires":[["e36da85c.0d7dd8"]]},{"id":"e36da85c.0d7dd8","type":"http request","z":"99a80bbd.ec6eb8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":300,"wires":[["4dc6c7ed.e1c4e8"]]},{"id":"d9696534.d0e138","type":"inject","z":"99a80bbd.ec6eb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120.5,"y":250.00000286102295,"wires":[["9228244e.a99e78"]]},{"id":"62383ab1.179d94","type":"debug","z":"99a80bbd.ec6eb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":40,"wires":[]},{"id":"4dc6c7ed.e1c4e8","type":"function","z":"99a80bbd.ec6eb8","name":"Pre Prediction","func":"var a = global.get('a')\nvar b = global.get('b')\nvar c = global.get('c')\nvar d = global.get('d')\nvar e = global.get('e')\nvar f = global.get('f')\nvar g = global.get('g')\nvar h = global.get('h')\nvar i = global.get('i')\nvar j = global.get('j')\nvar k = global.get('k')\nvar l = global.get('l')\nvar m = global.get('m')\nvar n = global.get('n')\nvar o = global.get('o')\nvar p = global.get('p')\nvar q = global.get('q')\nvar r = global.get('r')\nvar s = global.get('s')\nvar t = global.get('t')\nvar u = global.get('u')\nvar token=msg.payload.access_token\nvar instance_id=\"c15e7e76-2abe-4068-80a4-d65274a11a1d\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \"values\": [[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":280,"wires":[["baa2b12a.fe148"]]},{"id":"baa2b12a.fe148","type":"http request","z":"99a80bbd.ec6eb8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/8e98d8d9-a462-4c87-8ce3-832ce53b8073/predictions","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":220,"wires":[["7f7a8dea.4c1894","85e71262.f5ee9"]]},{"id":"85e71262.f5ee9","type":"function","z":"99a80bbd.ec6eb8","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":100,"wires":[["62383ab1.179d94","127b957e.860c5b"]]},{"id":"7f7a8dea.4c1894","type":"debug","z":"99a80bbd.ec6eb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":320,"wires":[]},{"id":"51231387.7d68ec","type":"ui_form","z":"99a80bbd.ec6eb8","name":"","label":"","group":"ea9956dc.f95f38","order":1,"width":0,"height":0,"options":[{"label":"Country","value":"a","type":"text","required":true,"rows":null},{"label":"Year","value":"b","type":"number","required":true,"rows":null},{"label":"Status","value":"c","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"d","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"e","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"f","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"g","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"h","type":"number","required":true,"rows":null},{"label":"Measles ","value":"i","type":"number","required":true,"rows":null},{"label":" BMI ","value":"j","type":"number","required":true,"rows":null},{"label":"under-five deaths ","value":"k","type":"number","required":true,"rows":null},{"label":"Polio","value":"l","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"m","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"n","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"o","type":"number","required":true,"rows":null},{"label":"GDP","value":"p","type":"number","required":true,"rows":null},{"label":"Population","value":"q","type":"number","required":true,"rows":null},{"label":" thinness  1-19 years","value":"r","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"s","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"t","type":"number","required":true,"rows":null},{"label":"Schooling","value":"u","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":400,"wires":[["9228244e.a99e78"]]},{"id":"ea9956dc.f95f38","type":"ui_group","z":"","name":"AUto_AI","tab":"d8e716e3.cc87a8","order":2,"disp":true,"width":"6","collapse":false},{"id":"d8e716e3.cc87a8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]