flows (1).json
[{"id":"312bb201.8d7bee","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ffd1902a.76dc5","type":"function","z":"312bb201.8d7bee","name":"PreToken","func":"global.set(\"a\",msg.payload.a)\nglobal.set(\"b\",msg.payload.b)\nglobal.set(\"c\",msg.payload.c)\nglobal.set(\"d\",msg.payload.d)\nglobal.set(\"e\",msg.payload.e)\nglobal.set(\"f\",msg.payload.f)\nglobal.set(\"g\",msg.payload.g)\nglobal.set(\"h\",msg.payload.h)\nglobal.set(\"i\",msg.payload.i)\nglobal.set(\"j\",msg.payload.j)\nglobal.set(\"k\",msg.payload.k)\nglobal.set(\"l\",msg.payload.l)\nglobal.set(\"m\",msg.payload.m)\nglobal.set(\"n\",msg.payload.n)\nglobal.set(\"o\",msg.payload.o)\nglobal.set(\"p\",msg.payload.p)\nglobal.set(\"q\",msg.payload.q)\nglobal.set(\"r\",msg.payload.r)\nglobal.set(\"s\",msg.payload.s)\nglobal.set(\"t\",msg.payload.t)\nvar apikey=\"G79LnyxljchMhowaQmjQfd6FoDXg7BUl2PO174cd6FSQ\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":300,"wires":[["33ad9936.791ab6"]]},{"id":"33ad9936.791ab6","type":"http request","z":"312bb201.8d7bee","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":280,"wires":[["88d6b2fb.ad6e4"]]},{"id":"632e595.96e28a8","type":"inject","z":"312bb201.8d7bee","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100.5,"y":230.00000286102295,"wires":[["ffd1902a.76dc5"]]},{"id":"f37f0f8d.cd54b","type":"debug","z":"312bb201.8d7bee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":20,"wires":[]},{"id":"88d6b2fb.ad6e4","type":"function","z":"312bb201.8d7bee","name":"Pre Prediction","func":"var a = global.get('a')\nvar b = global.get('b')\nvar c = global.get('c')\nvar d = global.get('d')\nvar e = global.get('e')\nvar f = global.get('f')\nvar g = global.get('g')\nvar h = global.get('h')\nvar i = global.get('i')\nvar j = global.get('j')\nvar k = global.get('k')\nvar l = global.get('l')\nvar m = global.get('m')\nvar n = global.get('n')\nvar o = global.get('o')\nvar p = global.get('p')\nvar q = global.get('q')\nvar r = global.get('r')\nvar s = global.get('s')\nvar t = global.get('t')\nvar token=msg.payload.access_token\nvar instance_id=\"c15e7e76-2abe-4068-80a4-d65274a11a1d\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": ['Adult Mortality', 'infant deaths', 'Alcohol',\n       'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ',\n       'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ',\n       ' HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years',\n       ' thinness 5-9 years', 'Income composition of resources', 'Schooling',\n       'Developed', 'Developing'], \"values\": [[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":260,"wires":[["d92d7d45.30ce"]]},{"id":"d92d7d45.30ce","type":"http request","z":"312bb201.8d7bee","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/c15e7e76-2abe-4068-80a4-d65274a11a1d/deployments/51695dc7-1020-411e-bb83-ac90690f2cd0/online","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":200,"wires":[["ab66df63.574d4","124a71b4.b09a4e"]]},{"id":"5138ca02.352214","type":"ui_form","z":"312bb201.8d7bee","name":"","label":"","group":"99ba31bf.da3fd","order":1,"width":0,"height":0,"options":[{"label":"Adult Mortality","value":"a","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"b","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"c","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"d","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"e","type":"number","required":true,"rows":null},{"label":"Measles ","value":"f","type":"number","required":true,"rows":null},{"label":" BMI ","value":"g","type":"number","required":true,"rows":null},{"label":"under-five deaths ","value":"h","type":"number","required":true,"rows":null},{"label":"Polio","value":"i","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"j","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"k","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"l","type":"number","required":true,"rows":null},{"label":"GDP","value":"m","type":"number","required":true,"rows":null},{"label":"Population","value":"n","type":"number","required":true,"rows":null},{"label":" thinness  1-19 years","value":"o","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"p","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"q","type":"number","required":true,"rows":null},{"label":"Schooling","value":"r","type":"number","required":true,"rows":null},{"label":"Developed","value":"s","type":"number","required":true,"rows":null},{"label":"Developing","value":"t","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":46,"y":359,"wires":[["ffd1902a.76dc5"]]},{"id":"9a93ac25.722b4","type":"ui_text","z":"312bb201.8d7bee","group":"99ba31bf.da3fd","order":2,"width":0,"height":0,"name":"","label":"life expectancy","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":100,"wires":[]},{"id":"124a71b4.b09a4e","type":"function","z":"312bb201.8d7bee","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":80,"wires":[["f37f0f8d.cd54b","9a93ac25.722b4"]]},{"id":"ab66df63.574d4","type":"debug","z":"312bb201.8d7bee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":300,"wires":[]},{"id":"99ba31bf.da3fd","type":"ui_group","z":"","name":"Default","tab":"d8e716e3.cc87a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"d8e716e3.cc87a8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]